@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);

*{margin:0; padding:0;}

body{
	background-color: #0B0C10;
} 

.container{
	display: grid;
	grid-template-areas:
	"header header header"
	"photos photos photos"
	"merch merch merch"
	"products products products"
	"footer footer footer"
	"sfooter sfooter sfooter";
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 0px;
}

/*for the header*/
header{
	grid-area: header;
	width:100%;
	height: 60px;
	top: 0;
	position: absolute;
	z-index:3;/*this is for it to cover any elements while scrolling*/
	position: sticky;
	display: flex;
	justify-content:space-between;
	background-color: #ffffff;
}

.nav div{
	height: 5px;
	background-color: #197CBD;
	margin: 7px 0;
	border-radius: 25px;
	transition: 0.3s;
}

div a{
	font-family: 'Bebas Neue', serif;
	text-decoration: none;
	font-size: 30px;
	color: #197CBD;
	margin-right: 16px;
	padding: 9px 0;
	margin-left:-15px;
}
.one{
	width: 25px;
}

.two{
	width: 35px;
}

.three{
	width: 30px;
}

.logo{	
	margin-top:6px;
	width: 250px;
	height: 50px;
	display: flex;
}

.logo img{
	float: left;
	width: 100px;
	height: 50px;
	padding-left: 3em;
}

.clear{
	clear: left;
}

.nav:hover div{
	width: 40px;
}

/*for slide navigation menu*/
#sidebar {
	position: absolute;
	width: 300px;
	min-height: 300px;
	background-color: #1f2833;
	left: -300px;
	margin-top:60px;
	transition: .2s;
}

#sidebar ul li {
	background: #0b0c10;
	list-style: none;
	color: #fff;
	font-size: 20px;
	padding: 10px 0px 10px 0px;
	display: flex;
	justify-content: center;
}

#sidebar ul li a{
	font-family: 'Bebas Neue';
}

#sidebar ul li a:hover{
	color: white;
}

#sidebar .toggle-btn {
	position: absolute;
	top: -30px;
	left: 318px;
}

.nav{
	width: 60px;
	display: block;
	margin-top: -20px;
}

#sidebar.active {
	left: 0;
}

#sidebar.active .toggle-btn{
	left:16px;
}

/*for online audition*/
.online {
	max-width: 100px;
	margin-top: 15px;
	justify-content: center;
}

/*for image slider*/
.photos{
	grid-area: photos;
	display: flex;
	overflow: hidden;
	width: 100%;
	min-height: 565px;
}

.photos img{
	width: 1366px;
	height: 565px;
}

/*manual and automatic slider*/
.slider{
	max-width:1366px;
	height: 450px;
	overflow:hidden;
}

.slides{
	width:500%;
	height: 450px;
	display:flex;
}

.slides input{
	display: none;
}

.slide{
	width: 20%;
	transition: 2s;
}

.slide img{
	max-width: 1366px;
	height:450px;
}

.navigation-manual{
	width: 1348px;
	margin-top: -40px;
	display:flex;
	justify-content: center;
}

.manual-btn{
	border: 2px solid #197CBD;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}

.manual-btn:not(:last-child){
	margin-right: 40px;
}

.manual-btn:hover{
	background: #197CBD;
}

#radio1:checked~.first{
	margin-left: 0;
}

#radio2:checked~.first{
	margin-left: -20%;
}

#radio3:checked~.first{
	margin-left: -40%;
}

.navigation-auto{ /*for auto-navigation*/
	position:absolute;
	display: flex;
	width: 1348px;
	margin-top: 460px;
	margin-right: 16px;
	justify-content: center;
}

.navigation-auto div:not(:last-child){
	margin-right: 40px;
}

#radio:checked~.navigation-auto.auto-btn1{
	background: #197CBD;
}

#radio:checked~.navigation-auto.auto-btn2{
	background: #197CBD;
}

#radio:checked~.navigation-auto.auto-btn3{
	background: #197CBD;
}

.merch{
	grid-area: merch;
	width:100%;
}

.merch h2{
	font-family: 'Playfair Display';
	font-size: 80px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	margin-top:-1.4em;
	margin-left: 16px;
	text-align:center;
	text-shadow: 4px 2px #fff;
	background: -webkit-linear-gradient(#000, #198cbd);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/*for the merchandise section*/
/* (A) ENTIRE PAGE */
#cart-wrap {
	font-family: "Roboto Sans", sans-serif;
	grid-area: products;
	color: white;
	display: grid;
	grid-template-columns: 80% 20%;
	margin: 0 auto;
	max-width: 1500px;
	background-color: #0b0c10;
}

input.cart, button.cart {
	font-weight: bold;
	font-size: 1em;
	padding: 10px; 
	border: none;
	color: #fff;
	background: #197cbd;
	cursor: pointer;
}

input.cart:hover{
	background-color: #1f2833;
}

/* (B) PRODUCTS LIST */
#cart-products {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
	padding: 10px;
}
.p-item {
	padding: 10px;
	border: 1px solid #aaa;
	text-align: center;
}
.p-name {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.1em;
	padding-top:4px;
}
.p-img { 
	min-width: 180px; 
}

.p-img:hover{
	filter: saturate(2);
	transform: scale(1.05);
	transition: 0.3s;
}

.p-desc {
	color: #777;
	font-size: 0.9em;
	line-height: 1.5em;
	color: white;
}
.p-price {
	font-weight: bold;
	font-size: 1.1em;
	margin: 10px 0;
}
input.p-add { width: 80%; }

/* (D) CURRENT SHOPPING CART */
#cart-items {
	padding: 10px;
	background: #b0b0b0;
}
.c-item {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 10px;
}
.c-name {
	width: 100%;
	font-size: 1.3em;
	line-height: 1.5em;
}
.c-del { width: 20%; }
.c-qty {
	width: 75%;
	font-size: 1em;
}
input.c-empty, input.c-checkout {
	width: 100%;
	margin-top: 10px;
}

/*footers*/
.footer{  
	grid-area: footer;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 100%;
	background-color: #197CBD;
	min-height: 250px;
	justify-content: center;
	padding: 0 40px 2px 40px;
	box-sizing: border-box;
	text-align: center;
}	

.footer ul{
	list-style: none;
	color: #fff;
	font-size:14px;
	letter-spacing: 0.5px;
}

.footer ul a{
	text-decoration: none;
	color: #fff;
	transition: 0.3s;
}

.footer ul a:hover{
	color: #1f2833;
}

.footer ul li{
	margin: 10px 0;
}

.footer ul li a{
	text-decoration: none;
	font-size: 20px;
	font-family: 'Bebas Neue';
}

.footer ul li a i{
	font-size: 18px;
	font-weight: lighter;
}

.footer h3{
	font-family: 'Bebas Neue', sans-serif;
	padding-top: 10px;
	font-size: 30px;
	color: #1f2833;
	font-weight:bold;
}

.footer p{
	font-family: 'Slabo 27px';
	color: #fff;
	font-size: 16px;
	text-align: justify;
}

.social-media {
	width:100%;
	color: #fff;
	text-align:center;
	margin-left: 1em;
}

.social-media a {
	text-decoration: none;
}

.social-media i{
	height: 35px;
	width: 35px;
	padding: 5px 2px 2px 2px;
	border:1px solid #b0b0b0;
	border-radius: 20%;
	color: #fff;
	margin: 5px 10px;
}

.social-media i:hover{
	background: #1f2833;
}

.footer-bottom{
	grid-area: sfooter;
	height: 30px;	
	background: #1F2833;
	text-align: center;
}

.footer-bottom p{
	padding: 5px;
	font-family: 'Sablo 27px', serif;
	color: #197CBD;
	font-size: 16px;
}

@media screen and (max-width:768px){
	.container{
		grid-template-columns: auto;
		grid-template-areas:
		"header"
		"photos"
		"merch"
		"products"
		"footer"
		"sfooter";
	}
	.header#sidebar{
		min-width:100px;
	}
	.navigation-manual{
		margin-top: -40px;
		display:flex;
		justify-content: left;
		margin-left:16px;
	}
	.merch h2{
		font-size: 50px;
		margin-top:0.2em;
		margin-left: 0px;
	}
	#cart-wrap { 
		margin-top:-24em;
		grid-template-columns: 50% 50%; 
		display:flex;
		flex-direction: column;
	}
	#cart-products { 
		grid-template-columns: auto; 
	}
	#cart-items{
		margin: 5px;
	}
	.slider{
		opacity:0;
		visibility:hidden;
	}
	.merch h2{
		font-size: 60px;
		margin-top:-8.5em;
		margin-left: 0px;
	}
	.footer{
		display:flex;
		flex-direction:column;
		justify-content:center;
	}
}