@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);

*{margin:0; padding:0;}

html{
	scroll-behavior: smooth;
}

body{
	background-color: #0B0C10;
}

.container{
	display: grid;
	grid-template-areas:
	"header header header"
	"photos photos photos"
	"title title title"
	"content content content"
	"project project project"
	"audition audition audition"
	"footer footer footer"
	"sfooter sfooter sfooter";
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 0px;
}

/*for the header*/
header{
	grid-area: header;
	width:100%;
	height: 60px;
	top: 0;
	position: absolute;
	z-index:3;
	position: sticky;
	display: flex;
	justify-content:space-between;
	background-color: #ffffff;
}

.nav div{
	height: 5px;
	background-color: #197CBD;
	margin: 7px 0;
	border-radius: 25px;
	transition: 0.3s;
}

div a{
	font-family: 'Bebas Neue', serif;
	text-decoration: none;
	font-size: 30px;
	color: #197CBD;
	margin-right: 16px;
	padding: 9px 0;
	margin-left:-15px;
}
.one{
	width: 25px;
}

.two{
	width: 35px;
}

.three{
	width: 30px;
}

.logo{	
	margin-top:6px;
	width: 250px;
	height: 50px;
	display: flex;
}

.logo img{
	float: left;
	width: 100px;
	height: 50px;
	padding-left: 3em;
}

.clear{
	clear: left;
}

.nav:hover div{
	width: 40px;
}

/*for slide navigation menu*/
#sidebar {
	position: absolute;
	width: 300px;
	min-height: 300px;
	background-color: #1f2833;
	left: -300px;
	margin-top:60px;
	transition: .2s;
}

#sidebar ul li {
	background: #0b0c10;
	list-style: none;
	color: #fff;
	font-size: 20px;
	padding: 10px 0px 10px 0px;
	display: flex;
	justify-content: center;
}

#sidebar ul li a{
	font-family: 'Bebas Neue';
}

#sidebar ul li a:hover{
	color: white;
}

#sidebar .toggle-btn {
	position: absolute;
	top: -30px;
	left: 318px;
}

.nav{
	width: 60px;
	display: block;
	margin-top: -20px;
}

#sidebar.active {
	left: 0;
}

#sidebar.active .toggle-btn{
	left:16px;
}

/*for online audition*/
.online {
	max-width: 100px;
	margin-top: 15px;
	justify-content: center;
}

.photos{
	grid-area: photos;
	display: flex;
	width: 100%;
	height: 450px;
	background-image: url("../images/king.jpg");
}

/*for the title of the page*/
.title{
	grid-area: title;
	width: 100%;
	min-height: 7.19em;
}
.title h1{
	font-family: 'Playfair Display';
	font-size: 80px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	margin-top:-60px;
	text-align:center;
	text-shadow: 4px 2px #fff;
	background: -webkit-linear-gradient(#000, #198cbd);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/*for scroll*/
.demo a {
	position: relative;
	bottom: 8px;
	left: 50%;
	z-index: 2;
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	color: #197CBD;
	font-weight: bold;
	font-size: 20px;
	font-family: 'Bebas Neue', sans-serif;
	letter-spacing: .1em;
	text-decoration: none;
	transition: opacity .3s;
}
.demo a:hover {
	opacity: .5;
}

#section03 a{
	padding-top: 55px;
}

#section03 a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 46px;
	height: 46px;
	margin-left: -23px;
	border: 1px solid #197CBD;
	border-radius: 100%;
	box-sizing: border-box;
}

#section03 a span::after {
	position: absolute;
	top: 50%;
	left: 50%;
	content: '';
	width: 16px;
	height: 16px;
	margin: -12px 0 0 -8px;
	border-left: 1px solid #197CBD;
	border-bottom: 1px solid #197CBD;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	box-sizing: border-box;
}

#section03 a span::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	content: '';
	width: 44px;
	height: 44px;
	box-shadow: 0 0 0 0 rgba(255,255,255,.1);
	border-radius: 100%;
	opacity: 0;
	-webkit-animation: sdb03 3s infinite;
	animation: sdb03 3s infinite;
	box-sizing: border-box;
}

@-webkit-keyframes sdb03 {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	60% {
		box-shadow: 0 0 0 60px rgba(255,255,255,.1);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes sdb03 {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	60% {
		box-shadow: 0 0 0 60px rgba(255,255,255,.1);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

/*for about us page*/
.content{
	grid-area: content;
	display:grid;
	grid-template-columns: 30% 70%;
	min-height: 568px;
	width: 100%;
	margin-top: -40px;
	background-color: #fff;
}

.content img{
	border-radius: 50%;
	max-width: 450px;
	max-height: 450px;
	margin: 4.5em 2em 2em 3.8em;
	float:left;
}

.content .clear{
	clear:left;
}

.content .box{
	max-width: 880px;
	min-height:400px;
	background-color: #1f2833;
	margin-top: 0px;
}

.content .box p{
	font-family: 'Roboto Slab';
	color: #fff;
	font-size: 1em;
	text-align: justify;
	padding-right: 3em;
	padding-left: 3em;
	padding-bottom: 3em;
	padding-top:1em;
}

.content .box h2{
	font-family: 'Playfair Display';
	color: #fff;
	font-size:50px;
	font-weight: bold;
	padding-left: 1em;
	padding-top: 0.6em;
	color: #197cbd;
}

/*for the project section*/
.project{
	grid-area: project;
	background-color: #0b0c10;
	min-height: 565px;
	margin-top: -2px;
}

.project_title{
	font-family: 'Secular One';
	font-size: 80px;
	color: #fff;
	font-stretch: ultra-expanded;
	display:flex;
	justify-content: space-between;
}

.border{
	border: 0.5px;
	border-color: white;
	border-style: outset;
}

.space_{
	min-height: 360px;
	display:flex;
	justify-content:space-between;
}

.space_ video{
	display: block;
	max-width: 449.5px;
	min-height: 360px;
}

/*audition button*/
.audition{
	grid-area: audition;
	justify-content: center;
	width: 100%;
	max-height: 200px;
	background-color: #ededed;
}

.audition h2{
	font-family: 'Roboto Sans';
	color: #0b0c10;
	font-size: 50px;
	text-align: center;
	padding: 0.5em;
}

.audition p{
	padding-bottom:2.5em;
	font-family: 'Roboto Slab';
	text-align: center;
}

/*footers*/
.footer{  
	grid-area: footer;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 100%;
	background-color: #197CBD;
	min-height: 250px;
	justify-content: center;
	padding: 0 40px 2px 40px;
	box-sizing: border-box;
	text-align: center;
}	

.footer ul{
	list-style: none;
	color: #fff;
	font-size:14px;
	letter-spacing: 0.5px;
}

.footer ul a{
	text-decoration: none;
	color: #fff;
	transition: 0.3s;
}

.footer ul a:hover{
	color: #1f2833;
}

.footer ul li{
	margin: 10px 0;
}

.footer ul li a{
	text-decoration: none;
	font-size: 20px;
	font-family: 'Bebas Neue';
}

.footer ul li a i{
	font-size: 18px;
	font-weight: lighter;
}

.footer h3{
	font-family: 'Bebas Neue', sans-serif;
	padding-top: 10px;
	font-size: 30px;
	color: #1f2833;
	font-weight:bold;
}

.footer p{
	font-family: 'Slabo 27px';
	color: #fff;
	font-size: 16px;
	text-align: justify;
}

.social-media {
	width:100%;
	color: #fff;
	text-align:center;
	margin-left: 1em;
}

.social-media a {
	text-decoration: none;
}

.social-media i{
	height: 35px;
	width: 35px;
	padding: 5px 2px 2px 2px;
	border:1px solid #b0b0b0;
	border-radius: 20%;
	color: #fff;
	margin: 5px 10px;
}

.social-media i:hover{
	background: #1f2833;
}

.footer-bottom{
	grid-area: sfooter;
	height: 30px;	
	background: #1F2833;
	text-align: center;
}

.footer-bottom p{
	padding: 5px;
	font-family: 'Sablo 27px', serif;
	color: #197CBD;
	font-size: 16px;
}

@media screen and (max-width:768px){
	.container{
		grid-template-columns: auto;
		grid-template-areas:
		"header"
		"photos"
		"title"
		"content"
		"project"
		"audition"
		"footer"
		"sfooter";
	}
	.header#sidebar{
		min-width:100px;
	}
	.photos{
		background-image: url("../images/king_small.jpg");
		background-repeat: no-repeat;
		background-position: center center;/*the image focuses on center no matter what size the device is*/
		min-height: 300px;
		left:0;
		top:0;
	}
	.title{
		grid-area: title;
		width: 100%;
		min-height: 0;
	}
	.title h1{
		font-size: 60px;
		margin-top:-100px;
	}
	#section03{
		opacity:0;
		visibility:hidden;
	}
	.content{
		max-width:768px;
		min-height:100px;
		grid-template-columns: 50% 50%;
		margin-top: -40px;
		display:flex;
		flex-direction:column;
	}
	.content img{
		height:0;
		width:0;
		margin:0;
	}
	.content .box{
		margin: 0 auto;
		min-height:100px;
	}
	.content .box p{
		font-size: 12px;
		padding-right: 7px;
		padding-left: 7px;
		padding-bottom: 12px;
	}
	.content .box h2{
		font-size:16px;
		padding-top: 7px;
		margin-left:-5px;
	}
	.project{
		max-width: 768px;
		min-height: 900px;
		position:relative;
	}
	.project_title{
		font-size: 20px;
		font-stretch: ultra-condensed;
	}
	.space_{
		max-width: 768px;
		min-height: 360px;
		display:flex;
		flex-direction:column;
	}
	.space_ video{
		margin:0 auto;	
	}
	#myVideo1 {
		width: 100%;
		height: 300px;
		object-fit: cover;
		z-index: -100;
	}
	#myVideo2 {
		width: 100%;
		height: 300px;
		object-fit: cover;
		z-index: -100;
	}
	#myVideo3 {
		width: 100%;
		height: 300px;
		object-fit: cover;
		z-index: -100;
	}
	.audition h2{
		padding: 40px 0 0 0;
		font-size: 30px;
	}
	.audition p{
		margin:1em 0 1em 0;
		font-family: 'Roboto Slab';
		text-align: center;
	}
	.footer{
		display:flex;
		flex-direction:column;
		justify-content:center;
	}
}

